body{
    background-color: #9CEE59=RGB;
    color: black;
}


table{
    width: 980px;
    border-spacing: 0px;
    background-color: #509050=RGB;
}

tr, th{
    margin: 0px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #999999=RGB;
}

#masodik{
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    background-color: white;
    border-spacing: 1px;
}

#negyven{
    height: 40px;
    color: white;
}
